<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT</title>
    <link rel="stylesheet" href="/about.css">
</head>

<body>
    <div class="container">
        <div class="textContainer">
            <h1>👋Hi, I'm Prajwal-A Web Developer who loves Clean Code and Creative Ideas!</h1>
            <p>I'm a Computer Science Student from SMVITM,passionate about full-stack web development.
                I love building functional,responsive websites and learning backend logic.
                Currently exploring Node.js,Express and JavaScript.</p>

        </div>
        <div class="skillContainer">
            <h2>Skills</h2>
            <div class="skills">
                <img src="https://tse4.mm.bing.net/th?id=OIP.Lk7YWiSeDYGd-ITVUXbBbAHaHa&pid=Api&P=0&h=180" alt="HTLM">
                <img src="https://tse1.mm.bing.net/th?id=OIP.vxBMXvSwiLQdQ6wSslrDUgHaKY&pid=Api&P=0&h=180" alt="CSS">
                <img src="https://tse2.mm.bing.net/th?id=OIP.ZZaV8f0-sI1l6dcdApuE6gHaEK&pid=Api&P=0&h=180" alt="JavaScript">
                <img src="https://tse4.mm.bing.net/th?id=OIP.dHA3bJUFOitOx1ucKE_-cAHaFo&pid=Api&P=0&h=180" alt="EJS">
                <img src="https://tse1.mm.bing.net/th?id=OIP.Tf4BFI6846neirVSebC0vAHaEi&pid=Api&P=0&h=180" alt="Node.js">
                <img src="https://tse2.mm.bing.net/th?id=OIP.1oZo0qgO2ybBNcjCWcx06QHaDP&pid=Api&P=0&h=180" alt="Express.js">
            </div>
        </div>
        <footer>
            Want to Collaborate? <a href="./contact">Go to Contact Page</a>
        </footer>
    </div>
</body>

</html>