<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/home.css">
    <!-- insert app.use(express.static("public"));
 in app.js for to load css file in browser otherwise it won't work -->
</head>
<body>
    <div class="container">
        <div class="textContainer">
            <h1>Hi, I'm Prajwal!👋</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error suscipit quis vel optio beatae voluptatibus id corrupti ea, corporis quidem est quibusdam saepe veritatis nihil nesciunt ipsa, deleniti porro ducimus.</p>
        </div>
        <div class="buttonsContainer">
            <a href="./about"><button type="button" style="background-color: rgb(213, 240, 251);" >About Me</button></a>
            <a href="./contact"><button type="button" style=" background-color: rgb(210, 210, 240);">Contact Me</button></a>
            <a href="./purpose"><button type="button" style="background-color: blanchedalmond;">Project Purpose</button></a>            
        </div>
        <footer>@ Pajju 2025</footer>
    </div>
</body>
</html>